body{
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    width: 98vw;
    background-color: #D5F0D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userList{
    width: 92%;
}

.user-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    margin: 10px;
    padding: 10px;
    background-color: #92D1AE;
    color: #D5F0D9;
    float: left;
    border-radius: 6px;
}

button{
    background-color: #51B687;
    color: #296248;
    border: 2px solid #296248;
    border-radius: 5px;
}